.balance-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.balance-box {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.balance-input {
  width: calc(100% - 20px);
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.balance-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.balance-button:hover {
  background-color: #0056b3;
}

.balance-message {
  margin-top: 1rem;
  color: green;
}
