.contact-container {
  padding: 2rem;
  text-align: center;
}

.contact-details, .edit-form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-details p {
  text-align: center;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-form input {
  width: calc(100% - 1rem);
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.edit-form button {
  width: 45%; /* Zmniejszyłem szerokość przycisków */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.edit-form button:hover {
  background-color: #0056b3;
}
