body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #343a40;
  color: white;
  padding: 1rem;
  text-align: center;
  position: relative; /* Dodane */
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px; /* Dodajemy odstęp między elementami */
}

.nav-link {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

.account-info { /* Nowe */
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
}

.main {
  flex: 1;
  padding: 2rem;
  text-align: center;
}

.home h1, .login h1 {
  color: #343a40;
}

.login .form-group {
  margin-bottom: 1rem;
}

.login .form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.login .form-group input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.login button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
}

.login button:hover {
  background-color: #0056b3;
}

.login .error {
  color: red;
  margin-top: 1rem;
}

.footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1rem;
}

.message-bar { /* Nowe */
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: opacity 1s ease-in-out;
}

.message-bar.success {
  color: green;
}

.message-bar.error {
  color: red;
}

.user-balances {
  display: flex;
  flex-direction: column; /* Ustawienie elementów jedno pod drugim */
  align-items: flex-end; /* Wyrównanie do prawej */
  gap: 5px;
  margin-left: auto;
  font-weight: bold;
}

.user-balances div {
  padding: 5px;
  background-color: #817BA7;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}